<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Nombre de la propiedad</span>
  {{input type="text" value=nombrePropiedad class="form-control" placeholder="Nombre de la propiedad" aria-describedby="basic-addon1"}}
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Latitud</span>
  {{input type="number" value=latitud class="form-control" placeholder="Latitud" aria-describedby="basic-addon1"}}
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Apellido</span>
  {{input type="text" value=apellido class="form-control" placeholder="Apellido" aria-describedby="basic-addon1"}}
</div>
{{outlet}}
