{{#link-to 'ingresar'}}
ingresar
{{/link-to}}
<br>
{{#link-to 'propiedades'}}
Propiedades
{{/link-to}}

<button type="button" {{action 'CerrarSesion'}}>Cerrar sesion</button>
{{outlet}}
<!-- <a {{action 'cerrarSesion'}} class='btn btn-danger'>Cerrar Sesión</a> -->
